<div class="col-12 d-flex justify-content-between align-items-center">
    <% if params[:query].present? %>
        <h1><%= @articles.count %> Articles</h1>
    <% else %>
        <h1><%= Article.all.count %> Articles</h1>
    <% end %>
    <%= form_tag articles_path, method: :get, style: "display: flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an article"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% if params[:query].present? %>
            <% @articles = Article.search_by_title(params[:query]).page params[:page] %>
        <% end %>
    <% end %>
    <%= link_to "New", new_article_path, class: "btn btn-primary" %>
</div>
<div>
    <table>
        <tr>
            <th>Title</th>
            <th>Views</th>
            <th>Author</th>
            <th>Publish Date</th>
            <th>Action</th>
        </tr>
    <% @articles.order(created_at: :desc).each do |article| %>
        <tr>
            <td><%= link_to article.title, article_path(article) %></td>
            <td><%= article.impressionist_count %></td>
            <% if !article.user.first_name.nil? %>
                <td><%= article.user.first_name %></td>
            <% else %>
                <td>Unkown</td>
            <% end %>
            <td><%= article.publish_date %></td>
            <td><%= link_to "Edit", edit_article_path(article)%>
            <%= link_to "Show", article_path(article)%>
            <% if article.user == current_user %>
                <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: 'Are you sure?' }%></td>
            <% end %>
        </tr>
    <% end %>
    </table>
</div>
<%= paginate @articles %>
